body {
  color: #999;
  box-sizing: border-box;
}
.collapse_container {
  max-width: 460px;
  padding: 0.5rem 0.75rem;
  margin: 0;
  font-size: 1rem;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}
.collapse_container__block {
  position: relative;
  overflow: hidden;
  transition: 0.4s;
}

